<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="icon" href="images/fav.png"> 

    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <a class="logo" href="/home.html"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="100%"></a>
            <p class="input">Este es un espacio de busqueda <i class="fas fa-search"></i></p>
            <p class="justify-right"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="sin-bullet">
            <ul class="left-nav">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-nav">                
                <li><a href="#">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="menu-bars">
            <i class="fas fa-bars"></i> 
        </div>
    </header>
    
    <section>
        <img src="/images/img-home-banner.jpg" width="100%">
    </section>

    <main>
        <section>
            <h2>Basado en la ultima visita</h2>
            <div class="main-products">
                <article class="lista-productos">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="80%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck envio"></i>                        
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="lista-productos">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook" width="80%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck envio"></i>     
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h3 class="descripcion">Macbook Pro 2019</h3>
                    </div>
                </article>
                <article class="lista-productos">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" width="80%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck envio"></i>     
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h3 class="descripcion">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="lista-productos">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung" width="80%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck envio"></i>     
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h3 class="descripcion">Smart TV Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>
        <hr>
        <section>
            <h2>Seccion de ofertas</h2>
            <div class="main-products">
                <article class="lista-productos">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="80%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck envio"></i>     
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="lista-productos">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook" width="80%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck envio"></i>     
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h3 class="descripcion">Macbook Pro 2019</h3>
                    </div>
                </article>
                <article class="lista-productos">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" width="80%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck envio"></i>     
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h3 class="descripcion">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="lista-productos">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung" width="80%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck envio"></i>     
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h3 class="descripcion">Smart TV Samsung 43"</h3>
                    </div>
                </article>
            </div>       
        </section>
    </main>

    <footer class="footer-main">
        <article class="section-footer">
            <div class="fa-footer">
                <i class="fas fa-credit-card fav-footer"></i>
            </div>
            <h3>
                Pagá con tarjeta o con efectivo
            </h3>
            <p>
                Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!
            </p>
        </article>
        <article class="section-footer">
            <div class="fa-footer fav-footer">
                <i class="fas fa-gift"></i>
            </div>
            <h3>
                Envio gratis desde los $2500
            </h3>
            <p>
                Solo por estar registrado en Mercado Liebre tenes envio gratis en miles de productos. Beneficio de Mercado Puntos.
            </p>
        </article>
        <article class="section-footer">
            <div class="fa-footer fav-footer">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>
                Seguridad de principio a fin
            </h3>
            <p>
                ¿No te gusta? Devolvelo. En Mercado Liebre no hay nada que no puedas hacer porque estas siempre protegido. 
            </p>
        </article>

    </footer>
</body>
</html>