<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="icon" href="images/fav.png"> 
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <a class="logo" href="/home.html"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="100%"></a>
            <p class="input">Este es un espacio de busqueda <i class="fas fa-search"></i></p>
            <p class="justify-right"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="sin-bullet">
            <ul class="left-nav">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-nav">                
                <li><a href="#">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="menu-bars">
            <i class="fas fa-bars"></i> 
        </div>
    </header>
    
    <form action="" method="POST">
        <div>
            <label for="nombre">Nombre y Apellido</label>
            <input type="text" placeholder="Ingrese nombre y apellido" id="nombre" name="nombre" required>
        </div>
        <div>
            <label for="usuario">Nombre de usuario</label>
            <input type="text" placeholder="Ingrese usuario" id="usuario" name="usuario">
        </div>
        <div>
            <label for="nacimiento">Fecha de nacimiento:</label>
            <input type="date" placeholder="Fecha de nacimiento" id="nombre" name="nacimiento">
        </div>
        <div>
            <label for="domicilio">Domicilio:</label>
            <input type="text" placeholder="Ingrese domicilio" id="domicilio" name="domicilio">
        </div>
        <div>
            <label for="perfil"> Perfil de usuario: 
                <input type="radio" name="perfil">Comprador
                <input type="radio" name="perfil">Vendedor
            </label>
        </div>
        <div>
            <label for="categorias">Categorias:
                <input type="checkbox" name="categorias" value="electro">Electro
                <input type="checkbox" name="categorias" value="hogar">Hogar
                <input type="checkbox" name="categorias" value="moda">Moda
                <input type="checkbox" name="categorias" value="jugueteria">Jugueteria
                <input type="checkbox" name="categorias" value="vida sana">Vida Sana
            </label>
        </div>
        <div>
            <label for="foto">Adjunta una foto:
                <input type="file" id="foto" name="foto" accept=".jpg, .png" placeholder="Imagen de perfil">
            </label>
        </div>
        <div>
            <label for="password">Contrasena
                <input type="password" id="password" name="password" required>
            </label>
        </div>
        <div>
            <label for="confirm">Confirmar contrasena
                <input type="password" id="confirm" name="confirm" required>
            </label>
        </div>
        <div>
            <button type="submit">Enviar</button>
            <button type="reset">Reset</button>
        </div>
    </form>
    
    <footer>
        <article class="section-footer">
            <div class="fa-footer">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3>
                Pagá con tarjeta o con efectivo
            </h3>
            <p>
                Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!
            </p>
        </article>
        <article class="section-footer">
            <div class="fa-footer">
                <i class="fas fa-gift"></i>
            </div>
            <h3>
                Envio gratis desde los $2500
            </h3>
            <p>
                Solo por estar registrado en Mercado Liebre tenes envio gratis en miles de productos. Beneficio de Mercado Puntos.
            </p>
        </article>
        <article class="section-footer">
            <div class="fa-footer">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>
                Seguridad de principio a fin
            </h3>
            <p>
                ¿No te gusta? Devolvelo. En Mercado Liebre no hay nada que no puedas hacer porque estas siempre protegido. 
            </p>
        </article>
    </footer>
</body>
</html>