*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(233, 233, 233);
}

header {
    background-color: #eac926;
    padding: 20px;
}

main{
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}

footer{
    background-color: rgb(224, 224, 224);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

h2{
    font-size: 24px;
    margin: 20px 0;
}

h3{
    font-size: 16px;
    margin: 5px 0;
}

hr{
    margin: 10px 0;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;}

.main-header-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precio{
    font-size: 18px;
    flex-grow: 3;
    width: 45%;
}

.descuento{
    font-size: 16px;
    flex-grow: 7;
    45%
}

.justify-right{
    text-align: right;
    display: none;
}

.logo{
    margin: 0 10px 0 0;
}

.input{
    background-color: white;
    border: solid 1px grey;
    padding: 10px;
    width: 90%;
    text-align: center;
    margin: auto;
    margin: 0 10px;
    border-radius: 5px;
    max-width: 200px;
}

.menu-bars{
    text-align: center;
    color: white;
    background-color: blue;
    padding: 10px;
    max-width: 40px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

.sin-bullet{
    display: none;
    text-decoration: none;
}

.sin-bullet ul {
    list-style-type: none;
    text-decoration: none;
    color: #222222;
    padding: 4px 2px;
    margin: 0;
}

.section-footer{
    padding-top: 20px;
    padding-bottom: 20px;
}

.fa-footer{
    color: blue;
    text-align: center;
    font-size: 30px;
}

.lista-productos{
    margin-top: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}



.detalle-producto{
    border-top: solid 1px #ebebeb;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

.descuento{
    color: green;
}

.envio{
    color: green;
    border: solid green 0.5px;
    border-radius: 100%;
}

.imagen-productos{
    align-items: center;
}

.descripcion{
    display: none;
}

.copyright-website{
    padding-bottom: 5px;

}

.submit-button-login{
    background-color: blue;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
}

#usuario, #password{
    margin: 20px;
}

.form-login{
    
    margin: auto;
    margin-left: 30px;
    margin-top: 20px;
}

.user-login{
    align-self: center;
}

@media(min-width: 361px){


    article:hover .lista-productos{
        box-shadow: 5px 10px #888888;
    }

    .main-products{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        margin: 20px 0;
    }

    .lista-productos{
        width: 45%;
    }

    article:hover .descripcion{
        display: block;
    }
    
    .descripcion{
        transition: all 10ms;
    }

    .form-login{
        margin: auto;
        margin-left: 30px;
    }


}

@media (min-width: 768px){

    article:hover i.envio{
        transform: rotateZ(-90deg);
    }

    .sin-bullet { 
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }

    .sin-bullet ul{
        display: flex;
        justify-content: left;
    }

    .sin-bullet li{
        padding: 0 8px;
    }

    .menu-bars{
        display: none;
    }

    .justify-right{
        display: flex;
        justify-content: space-between;
    }

    
    .input{
        max-width: 350px;
    }

    .lista-productos{
        width: 22%;
    }

    .form-login{
        max-width: 1200px;
        margin: auto;
    }



}

@media (min-width: 1200px) {

    .main-header-top-bar, .sin-bullet{
        max-width: 1200px;
        margin:auto;
    }

    .sin-bullet ul {
        padding: 25px 6px;
    }

    .input{
        max-width: 500px;
    }

    .logo{
        width: 250px;
    }

    .footer-main{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
    }

    .section-footer{
        margin: auto 40px;
        padding: 30px 0;
    }
    
    .copyright-website{
        position: absolute;
        padding: -50px;
    }

    article:hover .fav-footer{
        color: #eac926;
    }
}